@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

abbr.initialism{
	white-space: nowrap;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 90%;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	margin-bottom: 2em;
	font-variant: small-caps;
	text-align: center;
}
