@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-bottom: 2em;
	margin-top: 5em;
	text-align: center;
}
